---
import Layout from "~/layouts/Layout.astro";
import { getCollection, getEntry } from "astro:content";

import config from "~/data/config.json";
import Splash from "~/components/splash.astro";

import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";

dayjs.extend(utc);

const title = config.businessName + " | Blog";

const description =
  "Curious about building a website? Our blog covers everything from case studies of our clients to offering insights and tips for every budget. Explore the latest trends and expert advice to make informed decisions and elevate your online presence.";

const allBlogPosts = await getCollection("blog");

const allBlogPostsWithModifiedTime = await Promise.all(
  allBlogPosts.map(async (entry) => {
    const { Content, remarkPluginFrontmatter } = await entry.render();
    const lastModified = dayjs(remarkPluginFrontmatter.lastModified)
      .utc()
      .format("DD MMMM YYYY");
    return { ...entry, lastModified };
  })
);
---

<Layout title={title} description={description}>
  <Splash>
    <h1
      class="gradient-text mx-8 text-center font-extrabold tracking-tighter text-9xl sm:mx-0"
    >
      Blog
    </h1>
    <h2
      class="website-tag mx-auto max-w-screen-md text-center font-extralight text-white text-2xl"
    >
    </h2>
  </Splash>

  <section class="mx-auto flex max-w-screen-lg flex-col py-16">
    {
      allBlogPostsWithModifiedTime.map((post) => (
        <article class="mb-16 flex flex-col gap-4">
          <h1 class="font-bold text-4xl">{post.data.title}</h1>
          <p class="text-gray-500">Last updated: {post.lastModified}</p>
          <p class="">{post.data.description}</p>
          <a href={`/blog/${post.slug}`} class="btn-primary btn w-fit">
            View Post
          </a>
          <div class="divider-default divider" />
        </article>
      ))
    }
  </section>
</Layout>

<script>
  import { gsap } from "gsap";
  import { TextPlugin } from "gsap/TextPlugin";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);
  gsap.registerPlugin(TextPlugin);

  gsap.to(".website-tag", {
    //Subtitle animation
    duration: 2,
    text: {
      value:
        "Curious about our case studies, the state of web development itself and more? Look no further.",
      delimiter: " ",
    },
  });
</script>
