---
import "@fontsource/inter/variable.css";
import ContentSection from "~/components/content-section.astro";
import Intro from "~/components/intro.astro";
import Splash from "~/components/splash.astro";
import Demos from "../components/demos.astro";
import Layout from "~/layouts/Layout.astro";

import config from "~/data/config.json";
import { Image } from "astro:assets";

const title =
  config.businessName +
  " | Best Website Design in " +
  config.city +
  ", " +
  config.country;

const headshotImages = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/clientHeadshots/*.{jpeg,jpg,png,gif,webp}"
);

const description = `Astro Media is a creative and energetic digital agency that values speed, helping your business reach new heights. We're based right here in ${config.city}, ${config.country} and we're all about website design and development that truly stands out. If you're looking for the best website developers near you, we've got you covered!`;
---

<Layout title={title} description={description}>
  <Splash>
    <div class="relative flex h-full flex-col items-center justify-center">
      <h1
        class="gradient-text mx-8 font-extrabold tracking-tighter text-8xl sm:mx-0"
      >
        We make
        <br />
        <span class="online-tag">cool looking</span> websites
      </h1>
      <h3
        class="website-tag gradient-text mx-8 mt-4 tracking-tighter text-white text-xl"
      >
      </h3>
      <h2
        class="subtitle mx-8 mt-4 font-extralight italic tracking-tighter text-stone-300 opacity-0 text-base"
      >
        Designing and developing for {config.city}, {config.country} since 2023.
      </h2>
    </div>
  </Splash>
  <div class="space-y-24 overflow-x-hidden px-8 py-32">
    <Intro />
    <Demos />
    <ContentSection title="Testimonials" id="testimonials">
      <Fragment slot="lead">
        <span
          >What have others <span class="text-primary">said</span> about us?</span
        >
      </Fragment>
      <div
        class="mx-auto grid max-w-screen-xl grid-cols-2 gap-8 max-md:grid-cols-1"
      >
        {
          config.testimonials.slice(0, 2).map((testimonial, index) => (
            <div
              class={`flex flex-col items-center justify-start rounded-lg border-2 border-default p-8`}
            >
              <div class="flex flex-col items-center justify-center">
                <Image
                  class="aspect-square w-32 rounded-full object-cover max-md:w-16"
                  src={headshotImages[
                    "/src/assets/clientHeadshots/" + testimonial.headshot
                  ]()}
                  alt={testimonial.name}
                />
                <h1 class="mt-4 font-bold uppercase text-2xl text-center">
                  {testimonial.name}
                </h1>
                <h3 class="text-sm">
                  From
                  <a
                    href={testimonial.projectUrl}
                    class="link font-bold uppercase text-primary underline hover:text-white"
                  >
                    {testimonial.project}
                  </a>
                </h3>
              </div>
              <div class="flex flex-col items-center gap-4">
                <p class="mt-4 text-center font-extralight italic text-sm">
                  {testimonial.testimonial}
                </p>
              </div>
            </div>
          ))
        }
      </div>
      <a
        href="/testimonials"
        class="link-primary link mx-auto text-center transition text-lg"
        >Read More Of Our Testimonials</a
      >
    </ContentSection>
    <section class="flex flex-col">
      <a
        href="/contact-us"
        class="btn-primary btn btn-lg mx-auto h-24 w-fit text-center font-bold text-2xl"
        >Contact Us Today</a
      >
    </section>
  </div>
</Layout>

<script>
  import { gsap } from "gsap";
  import { TextPlugin } from "gsap/TextPlugin";
  gsap.registerPlugin(TextPlugin);

  gsap.to(".online-tag", {
    //Makes the word "Online" go white
    duration: 0.5,
    textShadow: "0px 0px 10px rgba(255, 255, 255, 0.5)",
    color: "white",
  });

  gsap.to(".website-tag", {
    //Subtitle animation
    duration: 0.6,
    text: {
      value: "That customers love and trust.",
      delimiter: "",
    },
  });

  gsap.to(".website-tag", {
    //Subtitle animation
    duration: 1,
    delay: 1,
    color: "white",
  });

  gsap.to(".subtitle", {
    //Subtitle animation
    duration: 1,
    delay: 1.5,
    opacity: 1,
  });
</script>
